body{
    background: #ffffff;
    overflow-x: hidden;
}
/*头部*/
.root{
    position: relative;
    overflow-x:hidden;
    background: #e8e8e8;
    margin: 0 auto;
    max-width: 640px;
    height: auto;
}
header{
    height: 4.5rem;
    position: relative;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 1rem #000;
    z-index: 4;
}
.logo{
    z-index: 2;
    position: absolute;
    top:0.225rem;
    left: 1.7rem;
    height: 4.05rem;
    width: 9.09rem;
    background: url("../images/logo.png") no-repeat center;
    background-size: contain;
}
.root section:nth-child(1){
    position: relative;
}
.slider{
    position: relative;
    width: 100%;
    height: 18rem;
    overflow-x: hidden;
}
.slider .swiper-slide:nth-child(1){
    background: url("../images/bk3.jpg") no-repeat center center;
    background-size: cover;
}
.slider .swiper-slide:nth-child(2){
    background: url("../images/bk1.jpg") no-repeat center center;
    background-size: cover;
}
.slider .swiper-slide:nth-child(3){
    background: url("../images/bk2.jpg") no-repeat center center;
    background-size: cover;
}
.slider .swiper-slide:nth-child(4){
    background: url("../images/bk3.jpg") no-repeat center center;
    background-size: cover;
}
.slider .swiper-slide:nth-child(5){
    background: url("../images/bk1.jpg") no-repeat center center;
    background-size: cover;
}
.example_play{
    position: relative;
    width: 100%;
    height: 21rem;
    overflow-x: hidden;
}
.example_play .swiper-slide:nth-child(1){
    background: url("../images/example3.jpg") no-repeat center center;
    background-size: cover;
}
.example_play .swiper-slide:nth-child(2){
    background: url("../images/example1.jpg") no-repeat center center;
    background-size: cover;
}
.example_play .swiper-slide:nth-child(3){
    background: url("../images/example2.jpg") no-repeat center center;
    background-size: cover;
}
.example_play .swiper-slide:nth-child(4){
    background: url("../images/example3.jpg") no-repeat center center;
    background-size: cover;
}
.example_play .swiper-slide:nth-child(5){
    background: url("../images/example1.jpg") no-repeat center center;
    background-size: cover;
}
/*archture*/
.arch{
    margin-top: 0.5rem;
    width: 100%;
    height: 13.6rem;
    background: #fff;
    overflow: hidden;
}
.a_wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
}
.common_img{
    display: inline-block;
    position: relative;
    left: 0;
    width: 55%;
    height: 13.6rem;

}
.arch_img{
    background: url("../images/product_1.jpg") no-repeat;
    background-size: cover;
}
.print_img{
    background: url("../images/product_2.jpg") no-repeat;
    background-size: cover;
}
.light_img{
    background: url("../images/product_3.jpg") no-repeat;
    background-size: cover;
}

.arch_font{
    height: 13.6rem;
    display: inline-block;
    overflow: hidden;
    right: 0;
    position: absolute;
    width: 43%;
    background: #fff;
}
.arch_font p{
    margin-left: 1.2rem;
}
.arch_font p:nth-child(1){
    position: relative;
    top: 2.6rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.arch_font p:nth-child(2){
    position: relative;
    margin-left: 1.3rem;
    top: 3rem;
    font-size: 1.2rem;
    color: #9a9a9a;
    width:12rem;
    z-index: 9;
}
.buttun_play{
    position: absolute;
    top: 10rem;
    line-height: 2rem;
    display: block;
    height: 2rem;
    width: 6.8rem;
    background: #29d36d;
    margin-left: 1.3rem;
    border-radius: 0.4rem;
    z-index: 0;

}
.icon{
    background: url("../images/buttun.png") no-repeat center;
    width: 0.9rem;
    display: block;
    height: 1rem;
    margin: 0.5rem auto;
}
.print{
    margin-top: 0.8rem;
}
.light{
    margin-top: 0.8rem;
}
.bk{
    position: relative;
    width: 100%;
    margin-top: 1.2rem;
    height: 20rem;
    background: url("../images/BK.jpg") no-repeat center center;
    background-size: cover;
}
.bk_font{
    padding: 0 1.4rem;
}
.bk_font p{
    letter-spacing: 0.1rem;
    text-align: justify;
    text-justify:inter-ideograph;
    text-indent:2em;
    font-size: 1.2rem;
    color: #9d9d9d;
    margin-top: 3rem;
    line-height: 1.6rem;
    margin-bottom: 3rem;
}
/*服务项目*/
.service{
    padding: 0 2rem;
    overflow-x: hidden;
    background: #ffffff;
}
.service h2{
    font-size: 1.6rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.service1{
    overflow-x: hidden;
    width: 100%;
    position: relative;
    margin-top: 3.5rem;
    height:11rem;
}
.service_logo1{
    margin-top: 0.5rem;
    width: 36%;
    position: absolute;
    left:0;
    height:10rem;
}
.service_font1{
    width: 64%;
    position: absolute;
    right: 0;
    height: 10rem;
}
.service_logo1 span{
    margin: 0.8rem;
    display: block;
    width: 5.3rem;
    height: 6.8rem;
    background:url("../images/servce_1.png") no-repeat center center;
    background-size: cover;
}
.service_font1 h3{
    font-size: 1.6rem;
    font-weight: bold;

}
.service_font1 p{
    letter-spacing: 0.1rem;
    text-justify:inter-ideograph;
    font-size: 1.2rem;
    margin-top: 1.8rem;
    color: #969696;
    width: 100%;
    text-align: justify;
    line-height: 1.5rem;
}
.service2{
    overflow-x: hidden;
    padding:0 2rem ;
    position: relative;
    margin-top: 3.5rem;
    height: 11rem;
}
.service_logo2{
    margin-top: 0.5rem;
    width: 40%;
    position: absolute;
    left:0;
    height:10rem;
}
.service_logo2 span{
    margin: 0.8rem;
    display: block;
    width: 5.6rem;
    height: 5.9rem;
    background:url("../images/servce_2.png") no-repeat center center;
    background-size: cover;
}
.service3{
    overflow-x: hidden;
    width: 100%;
    position: relative;
    margin-top: 3.5rem;
    height: 11rem;
    margin-bottom: 1rem;
}
.service_logo3{
    margin-top: 0.5rem;
    width: 40%;
    position: absolute;
    left:0;
    height:10rem;
}
.service_logo3 span{
    margin: 0.8rem;
    display: block;
    width: 5rem;
    height: 5.7rem;
    background:url("../images/servce_3.png") no-repeat center center;
    background-size: cover;
}
.example{
    width: 100%;
    background: #ffffff;
    padding-top: 0.8rem;
}
.example p{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    height: 4.5rem;
    text-align: center;
    line-height: 4.5rem;
}
.example_img{
    width: 100%;
    overflow-x: hidden;
}
.example_img img{
    height: auto;
    width: 100%;
}
/*phone*/
.phone{
    padding-top: 2rem;
    overflow-x: hidden;
    height: 19rem;
    background: #ffffff;
}
.phone h3{
    font-size: 1.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-weight: bold;
    text-align: center;
}
.phone_content{
    height: 13rem;
    overflow-x: hidden;
    position: relative;
}
.phone_img{
    position: absolute;
    width: 38%;
    left: 0;
    height: 11.5rem;
}
.phone_font{
    position: absolute;
    width: 60%;
    right: 0;
    height: 11.5rem;
}
.phone_address{
    margin: 0 auto;
    height: 9.5rem;
    width: 9.5rem;
    background: url("../images/address.jpg") no-repeat center center;
    background-size: cover;
}
.phone_img p{
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    color: #535353;
}
.short_adress{
    margin-top: 0.5rem;
    height: 3.5rem;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}
.short_adress .icon1{

    width: 10%;
    position: absolute;
    left: 0;
}
.icon1_img{
    margin-top: 0.5rem;
    width: 1.45rem;
    height: 1.4rem;
    background: url("../images/icon1.png") no-repeat center center;
    background-size: cover;
}
.short_font{
    height: 3.2rem;
    width: 88%;
    position: absolute;
    right: 0;
}
.short_font p{
    font-size: 1.3rem;
    width: 15rem;
}
.icon2_img{
    width: 1.45rem;
    height: 1.4rem;
    background: url("../images/icon2.png") no-repeat center center;
    background-size: cover;
}
.icon3_img{
    width: 1.45rem;
    height: 1.45rem;
    background: url("../images/icon3.png") no-repeat center center;
    background-size: cover;
}
.short_adress:nth-child(2){
    margin-top: 1rem;
}
footer{
    height: auto;
    overflow-x: hidden;
}
footer p{
    text-align: center;
}
footer p:nth-child(1){
    margin-top:1rem;
    color: #757575;
}
footer p:nth-child(2){
    margin-bottom: 1rem;
    color: #757575;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}